body{
	font-family: 'Rajdhani', sans-serif;
	margin: 0;
}
nav{
	
	background: #fe7f00;
	height: 75px;
	width: 100%;
}
.rightNav{
	display: inline-block;
	margin: 5px;
	margin-right: 5px;
	float: right;
	height: 50px;
	word-spacing: 25px;

}
.rightNav a{
	top: 25px;
	position: relative;
	text-decoration: none;
	color: white;
	font-weight: normal;
	cursor: pointer;
}

#orange {
	color: orange;
}
.web{
	color: #7ACCC8;
}
#inputBar{
	
	float: right;
	height: 20px;

}
input{
	height: 40px;
	width: 150px;
}
#title{
	font-weight: normal;

}
.logo{
	display: inline-block;
	height: 60px;
	
	margin-left: 50px;
	width: 200px;
	color: white;
	font-weight: bold;
}
.logo img{
	display: inline-block;
	height: 30px;
	width: 30px;
	
}
.logo h1{
	display: inline-block;
}
#mainTitle{
	
	float: right;
	font-size: 44px;

	margin-left: 400px;
	margin-top: 200px;
	color: #fe7f00;
	font-weight: normal;

}
#orange_1{
	margin-top: 100px;
	height: 500px;
	width:350px;
	
	display: inline-block;
	position: absolute;
}
.buttons{
	margin-top: 530px;
	margin-left: 400px;

	
}
#button_one{
	background-color: #fe7f00;
	padding: 14px 40px;
	border: none;

}
#button_two{
	background-color: #7ACCC8;
	padding: 14px 40px;
	margin-left: 50px;
	border: none;
}
footer{
	background-color: #7ACCC8;
	height: 100px;
	width: 100%;
	position: fixed;
	bottom: 0;
}

h1{
	font-weight: bold;
}
span{
	font-weight: bold;
}


/*

----------------------------------------800px


*/
@media(max-width: 800px){
	#orange_1{
		height: 400px;
		width: 250px;
	}
	#mainTitle{
		font-size: 30px;
		margin-right: 100px;
	}
	.buttons{
		    padding: 10px 30px;
		    margin-left: 300px;
	}

}

/*

------------------------------------760px

*/


@media(max-width: 760px){
	.buttons{
		    padding: px 25px;
		    margin-left: 200px;
	}

}
/*


-----------------------------------------670px



*/
@media(max-width: 670px){
	.logo{
		font-size: 14px;
		margin: 0;
	}
	.rightNav{
		font-size: 14px;
	}
	#orange_1{
		height: 350px;
		width: 200px;
	}
	.buttons{
		    padding: 7px 20px;
		    margin-left: 150px;
	}
}
/*

------------------------------------------590px


*/
@media(max-width: 590px){
	.buttons{
		    padding: 5px 15px;
		    margin-left: 100px;
	}


}
/*



-----------------------------------------------580px



*/
@media(max-width: 580px){
	.rightNav{
		word-spacing: 20px;
	}

/*


----------------------------------555px


*/

}
@media(max-width: 555px){
	.rightNav{
		word-spacing: 15px;
	}
}
/*

---------------------------------530px


*/
@media(max-width: 530px){
	.rightNav{
		word-spacing: 20px;
	}
	.logo{
		display: none;
	}
	.buttons{
		    padding: 5px 10px;
		    margin-left: 50px;
	}


}
@media(max-width: 470px){
	
	.buttons{
		    
		    margin-left: 25px;
		}
	#button_one,
	#button_two{
		padding: 5px 10px;
	}

}
/*
------------------------------------460px

*/
@media(max-width: 460px){
	#orange_1{
		height: 300px;
		width: 150px;
	}
	#mainTitle{
		font-size: 24px;
		margin-right: 75px;
	}

}





